<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="MmDAO">
	<resultMap id="resultMm" type="com.cafe24.smart.member.domain.Member">
		<result property="mmCode" column="mm_code"/>
		<result property="ctCode" column="ct_code"/>
		<result property="ptCode" column="pt_code"/>
		<result property="dpCode" column="dp_code"/>
		<result property="mmName" column="mm_name"/>
		<result property="mmDailyPay" column="mm_dailyPay"/>
		<result property="mmJoinDate" column="mm_joinDate"/>
		<result property="mmResignDate" column="mm_resignDate"/>
		<result property="mmAnnualLeave" column="mm_annualLeave"/>
		<result property="mmArmy" column="mm_army"/>
		<result property="mmEmail" column="mm_email"/>
		<result property="mmMarriage" column="mm_marriage"/>
		<result property="mmPassword" column="mm_password"/>
		<result property="mmSign" column="mm_sign"/>
		<result property="mmAddress" column="mm_address"/>
		<result property="mmTel" column="mm_tel"/>
		<result property="mmBank" column="mm_bank"/>
		<result property="mmAccount" column="mm_account"/>
	</resultMap>
	
<!-- 	<insert id="resultMm" parameterType="resultMm" useGeneratedKeys="true" keyProperty="mm_code">
		INSERT INTO memberManagement(
		mm_name,
		mm_email,
		mm_)
	</insert> -->
	
	
	
</mapper>