<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="MmDAO">
	<resultMap id="resultMm" type="com.cafe24.smart.member.domain.Member">
		<result property="mmCode" column="mm_code"/>
		<result property="ctCode" column="ct_code"/>
		<result property="ptCode" column="pt_code"/>
		<result property="dpCode" column="dp_code"/>
		<result property="mmName" column="mm_name"/>
		<result property="mmDailyPay" column="mm_dailyPay"/>
		<result property="mmJoinDate" column="mm_joinDate"/>
		<result property="mmResignDate" column="mm_resignDate"/>
		<result property="mmAnnualLeave" column="mm_annualLeave"/>
		<result property="mmArmy" column="mm_army"/>
		<result property="mmEmail" column="mm_email"/>
		<result property="mmMarriage" column="mm_marriage"/>
		<result property="mmPassword" column="mm_password"/>
		<result property="mmSign" column="mm_sign"/>
		<result property="mmAddress" column="mm_address"/>
		<result property="mmTel" column="mm_tel"/>
		<result property="mmBank" column="mm_bank"/>
		<result property="mmAccount" column="mm_account"/>
	</resultMap>
	
	<resultMap id="resultMc" type="com.cafe24.smart.member.domain.MemberAchieve" >
		<result property="acCode" column="ac_code"/>
		<result property="mcSchoolName" column="mc_schoolName"/>
		<result property="mcAdmissionDate" column="mc_admissionDate"/>
		<result property="mcGraduationDate" column="mc_graduationDate"/>
		<result property="mcMajor" column="mc_major"/>
		<result property="mcJumsu" column="mc_jumsu"/>
		<result property="mcGrade" column="mc_grade"/>
		<result property="mmCode" column="mm_code"/>
	</resultMap>
	
	<resultMap id="resultMl" type="com.cafe24.smart.member.domain.MemberLicense" >
		<result property="lcCode" column="lc_code"/>
		<result property="mlIssueDate" column="ml_issueDate"/>
		<result property="mmCode" column="mm_code"/>
	</resultMap>
	
	<resultMap id="resultCr" type="com.cafe24.smart.member.domain.Career" >
		<result property="maCode" column="ma_code"/>
		<result property="miCode" column="mi_code"/>
		<result property="crData" column="cr_data"/>
		<result property="crService" column="cr_service"/>
		<result property="crPastJoinDay" column="cr_pastJoinDay"/>
		<result property="crPastResignDay" column="cr_pastResignDay"/>
		<result property="crResponsibility" column="cr_responsibility"/>
		<result property="mmCode" column="mm_code"/>
	</resultMap>
	
	
	<!-- 전체사원 조회 -->
	<select	id="selectAllMm"
			resultMap="resultMm">
	SELECT
		*
	FROM
		memberManagement	
	
	</select>
	
	<!-- 특정 사원 정보 조회 -->
	<select id="selectByMm" parameterType="int" resultMap="resultMm">
		SELECT
			*
		FROM
			memberManagement
		WHERE
			mm_code = #{mmCode};
	</select>
		
	<!-- 사원 로그인 체크 -->
	<select id="mmLogin" resultMap="resultMm">
		SELECT
			mm_code,
			mm_password,
			mm_name
		FROM
			memberManagement
		WHERE
			mm_code=#{mmCode}

	</select>
	
	
	<!-- 사원 정보 수정 -->
	<update id="updateMm"
			parameterType="com.cafe24.smart.member.domain.Member">
		UPDATE
			memberManagement
		SET
			mm_email=#{mmEmail},
			mm_address=#{mmAddress},
			mm_tel=#{mmTel},
			mm_bank=#{mmBank},
			mm_account=#{mmAccount}
		WHERE
			mm_code=#{mmCode}
	</update>
	
	
	
	
	<!-- 사원 경력사항 등록 -->
	<insert id="insertCr" parameterType="com.cafe24.smart.member.domain.Career">
		INSERT INTO career (
			ma_code,
			mi_code,
			cr_data,
			cr_service,
			cr_pastJoinDay,
			cr_pastResignDay,
			cr_responsibility,
			mm_code)
		VALUES(
			#{maCode},
			#{miCode},
			#{crData},
			#{crService},
			#{crPastJoinDay},
			#{crPastResignDay},
			#{crResponsibility},
			#{mmCode});
	</insert>
	
	<!--사원 자격증 등록 -->
 	<insert id="insertMl" parameterType="com.cafe24.smart.member.domain.MemberLicense">
		INSERT INTO
			memberLicense (
				lc_code,
				ml_issueDate,
				mm_code)
		VALUES (
			#{lcCode},
			#{mlIssueDate},
			#{mmCode});
	</insert>
	
	<!--  사원 학력정보 등록 -->
	<insert id="insertMc" parameterType="com.cafe24.smart.member.domain.MemberAchieve">
		INSERT INTO memberAchieve (
			ac_code,
			mc_schoolName,
			mc_admissionDate,
			mc_graduationDate,
			mc_major,
			mc_jumsu,
			mc_grade,
			mm_code)
		VALUES(
			#{acCode},
			#{mcSchoolName},
			#{mcAdmissionDate},
			#{mcGraduationDate},
			#{mcMajor},
			#{mcJumsu},
			#{mcGrade},
			#{mmCode});
	</insert>
	
	<!--  사원정보 등록 -->
	<insert id="insertMm" parameterType="com.cafe24.smart.member.domain.Member" useGeneratedKeys="true" keyProperty="mmCode">
		INSERT INTO memberManagement (
			ct_code,
			pt_code,
			dp_code,
			mm_name,
			mm_dailyPay,
			mm_JoinDate,
			mm_annualLeave,
			mm_army,
			mm_email,
			mm_marriage,
			mm_password,
			mm_address,
			mm_tel,
			mm_bank,
			mm_account) 
		VALUES(
			#{ctCode},
			#{ptCode},
			#{dpCode},
			#{mmName},
			#{mmDailyPay},
			#{mmJoinDate},
			#{mmAnnualLeave},
			#{mmArmy},
			#{mmEmail},
			#{mmMarriage},
			#{mmPassword},
			#{mmAddress},
			#{mmTel},
			#{mmBank},
			#{mmAccount});
	</insert>
</mapper>