<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="acDAO">
		<resultMap id="resultAc" type="com.cafe24.smart.member.domain.Achieve">
			<result property="acCode" column="ac_code"/>
			<result property="acName" column="ac_name"/>
		</resultMap>
		
		<resultMap id="resultLc" type="com.cafe24.smart.member.domain.License">
			<result property="lcCode" column="lc_code"/>
			<result property="lcName" column="lc_name"/>
		</resultMap>
		
		<resultMap id="resultCt" type="com.cafe24.smart.member.domain.Contract">
			<result property="ctCode" column="ct_code"/>
			<result property="ctType" column="ct_type"/>
		</resultMap>
		
		<resultMap id="resultPt" type="com.cafe24.smart.member.domain.Position">
			<result property="ptCode" column="pt_code"/>
			<result property="ptName" column="pt_name"/>
		</resultMap>
		
		<resultMap id="resultDp" type="com.cafe24.smart.member.domain.Department">
			<result property="dpCode" column="dp_code"/>
			<result property="dpName" column="dp_name"/>
		</resultMap>
		
		<resultMap id="resultMa" type="com.cafe24.smart.member.domain.MajorTypeOfBusiness">
			<result property="maCode" column="ma_code"/>
			<result property="maType" column="ma_type"/>
		</resultMap>
		
		<resultMap id="resultMi" type="com.cafe24.smart.member.domain.MinorTypeOfBusiness">
			<result property="miCode" column="mi_code"/>
			<result property="miType" column="mi_type"/>
		</resultMap>
		
		
		
 		<!-- 개인정보 조회하기 --> 
<!-- 		<select id=""> -->
			
		
		
		
<!-- 		</select> -->
		
		
		<!-- 하위직종 불러오기 -->
		<select id="selectMi" resultMap="resultMi">
			SELECT 
				mi_code,
				mi_type
			FROM 
				minorTypeOfBusiness
		</select>
		
		<!-- 상위직종 불러오기 -->
		<select id="selectMa" resultMap="resultMa">
			SELECT 
				ma_code,
				ma_type
			FROM 
				majorTypeOfBusiness
		</select>
		
		<!-- 부서 불러오기 -->
		<select id="selectDp" resultMap="resultDp">
			SELECT 
				dp_code,
				dp_name
			FROM 
				department
		</select>
		
		<!-- 직급 불러오기 -->
		<select id="selectPt" resultMap="resultPt">
			SELECT 
				pt_code,
				pt_name
			FROM 
				rankposition
		</select>
		
		
		<!--계약형태 불러오기 -->
		<select id="selectCt" resultMap="resultCt">
			SELECT 
				ct_code,
				ct_type
			FROM 
				contract
		</select>
		
		<!-- 학력 불러오기 -->	
		<select id="selectAc" resultMap="resultAc">
			SELECT 
				ac_code,
				ac_name
			FROM 
				achieve
		</select>
		<!-- 자격증 불러오기 -->	
		<select id="selectLc" resultMap="resultLc" >
			SELECT
				lc_code,
				lc_name
			FROM
				license
		</select>
	</mapper>