<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="PaDAO">
	<resultMap id="resultPc" type="com.cafe24.smart.payment.domain.PayContent">
		<result property="pcCode" column="pc_code"/>
		<result property="mmCode" column="mm_code"/>
		<result property="pcDate" column="pc_date"/>
		<result property="mmDailyPay" column="mm_dailyPay"/>
		<result property="inAmount" column="in_amount"/>
		<result property="eiAmount" column="ei_amount"/>
		<result property="nhiAmount" column="nhi_amount"/>
		<result property="ppAmount" column="pp_amount"/>
		<result property="paMmCode" column="pa_mmCode"/>
	</resultMap>
	
	<resultMap id="resultIn" type="com.cafe24.smart.reward.domain.Incentive">
		<result property="inCode" column="in_code"/>
		<result property="reCode" column="re_code"/>
		<result property="mmCode" column="mm_code"/>
		<result property="inKind" column="in_kind"/>
		<result property="inBonus" column="in_bonus"/>
		<result property="inPossible" column="in_possible"/>
		<result property="inDate" column="in_date"/>
		<result property="inMmCode" column="in_mmCode"/>
	</resultMap>
	
	<select id="selectByPc" parameterType="hashmap" resultType="int">
		SELECT
			in_amount
		FROM
			payContent
		WHERE
			mm_code = #{mmCode}
		AND
			pc_date = #{reDate};
	</select>
	
	<insert id="insertPc" parameterType="com.cafe24.smart.payment.domain.PayContent">
		INSERT INTO
			payContent (
				mm_code,
				pc_date,
				mm_dailyPay,
				in_amount,
				ei_amount,
				nhi_amount,
				pp_amount,
				pa_mmCode)
		VALUES (
			#{mmCode},
			#{pcDate},
			#{mmDailyPay},
			#{inAmount},
			#{eiAmount},
			#{nhiAmount},
			#{ppAmount},
			#{paMmCode});
	</insert>
	
	<insert id="insertIn" parameterType="com.cafe24.smart.reward.domain.Incentive">
		INSERT INTO
			incentive (
				re_code,
				mm_code,
				in_kind,
				in_bonus,
				in_possible,
				in_date,
				in_mmCode)
		VALUES (
			#{reCode},
			#{mmCode},
			#{inKind},
			#{inBonus},
			#{inPossible},
			#{inDate},
			#{inMmCode});
	</insert>
</mapper>