<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="InDAO">
	<!-- 고용보험 -->
	<resultMap id="resultEi" type="com.cafe24.smart.insurance.domain.EmployeementInsurance">
		<result property="eiCode" column="ei_code"/>
		<result property="eiYear" column="ei_year"/>
		<result property="eiEmployee" column="ei_employee"/>
		<result property="eiOwner1" column="ei_owner1"/>
		<result property="eiOwner2" column="ei_owner2"/>
		<result property="eiOwner3" column="ei_owner3"/>
		<result property="eiOwner4" column="ei_owner4"/>
	</resultMap>
	
	<!--국민건강보험 -->
	<resultMap id="resultNhi" type="com.cafe24.smart.insurance.domain.NationalHealthInsurance">
		<result property="nhiCode" column="nhi_code"/>                                                                                                         
		<result property="nhiYear" column="nhi_year"/>
		<result property="nhiEmployee" column="nhi_employee"/>
		<result property="nhiOwner" column="nhi_owner"/>
		<result property="nhiLongEmployee" column="nhi_longEmployee"/>
		<result property="nhiLongOwner" column="nhi_longOwner"/>
	</resultMap>
	
	<!--산재보험 -->
	<resultMap id="resultOhi" type="com.cafe24.smart.insurance.domain.OccupationalHealthSafetyInsurance">
		<result property="ohiCode" column="ohi_code"/>
		<result property="ohiBasic" column="ohi_basic"/>
		<result property="ohiYear" column="ohi_year"/>
		<result property="ohiExtra" column="ohi_extra"/>
		<result property="ohiHelp" column="ohi_help"/>
	</resultMap>
	
	<!--연금보험 -->
	<resultMap id="resultPp" type="com.cafe24.smart.insurance.domain.PensionInsurance">
		<result property="ppCode" column="pp_code"/>
		<result property="ppYear" column="pp_year"/>
		<result property="ppEmployee" column="pp_employee"/>
		<result property="ppOwner" column="pp_owner"/>
	</resultMap>
	
	<select id="selectByEi" parameterType="int" resultMap="resultEi">
		SELECT
			*
		FROM
			employeementInsurance
		WHERE
			ei_year = #{eiYear};
	</select>
	
	<select id="selectByNhi" parameterType="int" resultMap="resultNhi">
		SELECT
			*
		FROM
			nationalHealthInsurance
		WHERE
			nhi_year = #{nhiYear};
	</select>
	
	<select id="selectByOhi" parameterType="int" resultMap="resultOhi">
		SELECT
			*
		FROM
			occupationalHealthSafetyInsurance
		WHERE
			ohi_year = #{ohiYear};
	</select>
	
	<select id="selectByPp" parameterType="int" resultMap="resultPp">
		SELECT
			*
		FROM
			pensionInsurance
		WHERE
			pp_year = #{ppYear};
	</select>	
</mapper>