<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="ReDAO">
	<resultMap id="resultRe" type="com.cafe24.smart.reward.domain.Reward">
		<result property="reCode" column="re_code"/>
		<result property="mmCode" column="mm_code"/>
		<result property="reGrade" column="re_grade"/>
		<result property="reDate" column="re_date"/>
		<result property="reDocument" column="re_document"/>
		<result property="reMmCode" column="re_mmCode"/>
	</resultMap>
	
	<resultMap id="resultIn" type="com.cafe24.smart.reward.domain.Incentive">
		<result property="inCode" column="in_code"/>
		<result property="reDate" column="re_date"/>
		<result property="mmCode" column="mm_code"/>
		<result property="inBonus" column="in_bonus"/>
		<result property="inPossible" column="in_possible"/>
		<result property="inDate" column="in_date"/>
		<result property="inMmCode" column="in_mmCode"/>
	</resultMap>
	
	<!-- 인사부 > 총고과목록 -->
	<select id="selectAllRe" parameterType="hashmap" resultMap="resultRe">
		SELECT SQL_CALC_FOUND_ROWS
			*
		FROM
			reward;
	</select>
	
	<!-- 연간고과내역조회 -->
	<select id="selectAllYearRe" parameterType="hashmap" resultMap="resultRe">
		SELECT SQL_CALC_FOUND_ROWS
			*
		FROM
			reward
		WHERE
			mm_code = #{mmCode}
		AND
			re_date
		BETWEEN
			#{startDate}
		AND
			#{endDate};
	</select>
	
	<select id="selectAllCountRe" resultType="int">
		SELECT FOUND_ROWS();
	</select>
	
	<select id="selectByReCodeRe" parameterType="hashmap" resultMap="resultRe">
		SELECT SQL_CALC_FOUND_ROWS
			*
		FROM
			reward
		WHERE
			mm_code = #{mmCode}
		AND
			re_date
		BETWEEN
			#{startDate}
		AND
			#{endDate};
	</select>
	
	<select id="selectRe" parameterType="hashmap" resultMap="resultRe">
		SELECT SQL_CALC_FOUND_ROWS
			*
		FROM
			reward
		WHERE
			mm_code = #{mmCode}
		AND
			re_date
		BETWEEN
			#{startDate}
		AND
			#{endDate};
	</select>
	
	<select id="selectByReDateRe" parameterType="String" resultType="int">
		SELECT
			re_code
		FROM
			reward
		WHERE
			re_date = #{reDate}
	</select>
	
	<!-- 특정 성과 조회 (고과코드로) -->
	<select id="selectIn" parameterType="int" resultMap="resultIn">
		SELECT SQL_CALC_FOUND_ROWS
			*
		FROM
			incentive
		WHERE
			re_code = #{reCode}
	</select>
	
	<!-- 인사부 > 고과내역추가 -->
	<insert id="insertRe" parameterType="com.cafe24.smart.reward.domain.Reward">
		INSERT INTO
			reward (
				mm_code,
				re_grade,
				re_date,
				re_document,
				re_mmCode)
		VALUES (
			#{mmCode},
			#{reGrade},
			#{reDate},
			#{reDocument},
			#{reMmCode});
	</insert>
	
	<!-- 성과급 추가 -->
	<insert id="insertIn" parameterType="com.cafe24.smart.reward.domain.Incentive">
		INSERT INTO
			incentive (
				re_date,
				mm_code,
				in_bonus,
				in_possible,
				in_date,
				in_mmCode)
		VALUES (
			#{re_date},
			#{mm_code},
			#{in_bonus},
			#{in_possible},
			#{in_date},
			#{in_mmCode});
	</insert>
</mapper>