<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="PrDAO">
	<resultMap id="resultPr" type="Project">
		<result property="prCode" column="pr_code"/>
		<result property="prMemberCode" column="pr_memberCode"/>
		<result property="dftCode" column="dft_code"/>
		<result property="prName" column="pr_name"/>
		<result property="prMember" column="pr_member"/>
		<result property="prMoney" column="pr_money"/>
		<result property="prGoal" column="pr_goal"/>
		<result property="prGrogress" column="pr_grogress"/>
		<result property="prCate" column="pr_cate"/>
		<result property="prRestration" column="pr_resitration"/>
		<result property="prStartDay" column="pr_startDay"/>
		<result property="prEndDay" column="pr_endDay"/>
		<result property="prForProgress" column="pr_forProgress"/>
		<result property="prFinishCheck" column="pr_finishCheck"/>
	</resultMap>
	
</mapper>